/* Two-column layout */
.left-column {
  color: #777872;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #f3f3f3;
}
.right-column {
  width: 75%;
  float: right;
  /*padding-top: 1em;*/
}
